.bg-gradient {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  background-image: linear-gradient(132.6deg, rgb(71, 139, 214) 23.3%, rgb(37, 216, 211) 84.7%);
  background-size: cover;
}

.btn {
  background: none;
  background-color: royalblue;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  text-transform: capitalize;
  padding: 0.5em 1em;
  transition: 300ms;
  cursor: pointer;
}

.btn:hover,
#plus:hover {
  box-shadow: inset 0 0 8px rgb(0, 47, 187);
  transform: scale(0.96);
}

#minus:hover {
  box-shadow: inset 0 0 8px rgb(0, 47, 187);
  border-radius: 0 8px 8px 0;
  transform: scale(0.96);
}

.backBtn {
  position: absolute;
  top: 16px;
  left: 16px;
}

ul {
  list-style: none;
}
ul li {
  padding: 0.5rem 1rem;
}

.dev ul {
  list-style-position: inside;
  list-style-type: disc;
}

.title {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 24px;
}

.listElement {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 24px;
  padding: 1rem 1.5rem;
  background-color: royalblue;
  word-break: break-all;
}
.listElement .score,
.listElement .name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listElement .name {
  padding-right: 0.5rem;
}

.elementsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 500px;
  overflow: auto;
}

.elementsContainer::-webkit-scrollbar {
  width: 8px;
}

.elementsContainer::-webkit-scrollbar-thumb {
  background-color: royalblue;
  border-radius: 6px;
}

.show {
  visibility: visible !important;
}

.fa-caret-down {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.flip {
  transform: rotate(90deg);
}

#confetti {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}

.transition {
  transition: 300ms;
}

.alertsContainer {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alertsContainer .alert {
  background-color: white;
  margin-top: 1rem;
  color: tomato;
  padding: 1.5rem 3rem;
  z-index: 2000;
  font-size: 1.2rem;
}
.alertsContainer .alert::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: tomato;
  animation: timer 3s linear;
}

@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
body .content .containerTop {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
body .content .containerTop .buttons {
  display: flex;
  gap: 0.5rem;
}
body .content .containerBottom {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
body .content .containerBottom .card {
  background-color: royalblue;
  padding: 1rem;
  border-radius: 8px;
  width: 33%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 400px;
  overflow: auto;
}
body .content .containerBottom .card .description {
  font-size: 16px;
  max-height: 300px;
  overflow: auto;
}
body .content .containerBottom .card .dev::-webkit-scrollbar {
  width: 8px;
}
body .content .containerBottom .card .dev::-webkit-scrollbar-thumb {
  background-color: rgb(187, 204, 255);
  border-radius: 6px;
}
body .content .containerBottom .card .carousel div {
  text-align: center;
}
body .content .containerBottom .card .carousel .slick-dots {
  gap: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
body .content .containerBottom .card .carousel .slick-dots .slick-active button {
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
}
body .content .containerBottom .card .carousel .slick-dots li {
  padding: 0;
}
body .content .containerBottom .card .carousel .slick-dots li button {
  background: none;
  height: 0.7rem;
  width: 0.7rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: none;
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 996px) {
  body {
    height: -moz-fit-content;
    height: fit-content;
  }
  body .content .containerBottom {
    align-items: center;
    flex-direction: column;
  }
  body .content .containerBottom .card {
    width: 80%;
  }
}/*# sourceMappingURL=index.css.map */