@use "_components" as *;

body {
  .content {
    .containerTop {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      .buttons {
        display: flex;
        gap: 0.5rem;
      }
    }
    .containerBottom {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      .card {
        background-color: royalblue;
        padding: 1rem;
        border-radius: 8px;
        width: 33%;
        height: fit-content;
        max-width: 400px;
        overflow: auto;
        .description {
          font-size: 16px;
          max-height: 300px;
          overflow: auto;
        }
        @include scrollBarDev(".dev");
        .carousel {
          div {
            text-align: center;
          }
          .slick-dots {
            gap: 1rem;
            justify-content: center;
            display: flex;
            flex-direction: row;
            padding-top: 1rem;
            .slick-active {
              button {
                transform: scale(1.1);
                background-color: rgba(255, 255, 255, 1);
              }
            }
            li {
              padding: 0;
              button {
                background: none;
                height: 0.7rem;
                width: 0.7rem;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 50%;
                border: none;
                display: inline-block;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 996px) {
  body {
    height: fit-content;
    .content {
      .containerBottom {
        align-items: center;
        flex-direction: column;
        .card {
          width: 80%;
        }
      }
    }
  }
}
