@use "_components" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: thin;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    width: 80%;
  }
}
