* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #344955;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #232f34;
  overflow: hidden;
  .ranking {
    position: relative;
    margin-top: 20px;
    color: white;
    &::after {
      content: "work in progress";
      position: absolute;
      font-size: 12px;
      color: tomato;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(
        156,
        156,
        156,
        0.5
      ); /* Zmiana $color na konkretną wartość */
    }
  }

  .title {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
  }

  .timeBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .timeElement {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50px;
      font-size: 26px;
      border: solid 2px white;
      cursor: pointer;
    }
  }

  .text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    width: 80%;
  }

  .roll {
    position: absolute;
    bottom: 20%;
  }

  .finalRestart {
    position: absolute;
    display: none;
    bottom: 20%;
  }

  .restart {
    position: absolute;
    display: none;
    bottom: 10%;
  }

  .round {
    position: absolute;
    top: 20%;
    font-size: 22px;
  }

  .rounds,
  .rankingManage {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rankingManage {
    height: 100%;
    position: relative;
    .form {
      display: flex;
      .addPlayer {
        color: white;
        font-size: 16px;
        border: 2px solid white;
        background-color: rgba($color: white, $alpha: 0.2);
      }
    }
    .addPlayerNext {
      margin-top: 25px;
    }
  }
}

.playersContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%;
  .playersModal {
    width: 100%;
    height: 100%;
    background-color: #344955;
  }
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: white;
    border: 2px solid white;
  }
}

.contentSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 26px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

.fa-solid {
  color: white;
  font-size: 40px;
}

.hide {
  display: none;
}

.playersList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.listOfPlayersButton {
  font-size: 12px;
}

li {
  list-style: none;
}

.removeButton {
  font-size: 16px;
  margin-left: 10px;
}

.deleteButton {
  color: white;
  font-size: 100%;
  margin-left: 10px;
}
